.table-row-modal {
    cursor: pointer;
}

.info-warning {
    color: rgba(0, 0, 0, 0.65);
}

@media screen and (max-width: 520px) {

    #mobile-menu-link, #menu-icon {
        margin-right: 0px;
    }

}

@media screen and (max-width: 364px) {
    
    .main-card-panel-responsive {
        padding-left: 12px;
    }

    #discipline-content-header {
        margin-left: 6px;
    }

}